@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Dies ist der Prototyp eines Management Board-Cockpits, welches im Rahmen einer Gruppen-Projektarbeit an der der Nordakademie GS im Zeitraum vom 01.06.2014 – 15.09.2014 erarbeitet wurde.

Das Dashboard hat Vorstände, Aufsichtsräte, Beiräte und Geschäftsleitungen von großen mittelständigen Unternehmen als Zielgruppe.
Besonderes Augenmerk liegt daher auf übersichtlichem Design und einfacher Bedienbarkeit.
Als Datenbasis werden die Veröffentlichungen der Unternehmen im Bundesanzeiger genutzt, welche als XBRL Dateien in das Dashboard geladen werden können.
Weitere Informationen, z.B. eine Bedienungsanleitung und die technische Dokumentation finden Sie unter:
https://redmine.nordakademie.de/projects/board-cockpit/wiki/Einleitung_Board_Cockpit </p>
