@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Dies ist der Prototyp eines Management Board-Cockpits, welches im Rahmen einer Gruppen-Projektarbeit an der der</p>
    <br />
<p>
    Nordakademie GS im Zeitraum vom 01.06.2014 – 15.09.2014 erarbeitet wurde.</p>
    <br />
    <br />
<p>
    Das Dashboard hat Vorstände, Aufsichtsräte, Beiräte und Geschäftsleitungen von großen mittelständigen Unternehmen als Zielgruppe.</p>
    <p>
    Besonderes Augenmerk liegt daher auf übersichtlichem Design und einfacher Bedienbarkeit.</p>
    <br />
    <br />
    <p>
    Als Datenbasis werden die Veröffentlichungen der Unternehmen im Bundesanzeiger genutzt, welche als XBRL Dateien in das Dashboard geladen werden können.</p>
    <br /><br />
    <p>
    Weitere Informationen, z.B. eine Bedienungsanleitung und die technische Dokumentation finden Sie unter:</p>
    <br /><br />
<a href="https://redmine.nordakademie.de/projects/board-cockpit/wiki/Einleitung_Board_Cockpit">Einleitung Board Cockpit Redmine</a> 
    
