@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Erstellt wurde diese Projektarbeit von:
    Caroline Büsing                (MFA 13a, Matr.-Nr. 4167)
    Steffen Last                       (MFA 13a, Matr.-Nr. 5589)
    Roberto Salvadori            (MFA 13a, Matr.-Nr. 5864)
    Lennart Wiese                   (MFA 13o, Matr.-Nr. 6037)
    Jesco Ivanowski                (MWI 13a, Matr.-Nr. 4136)
    Simon Hansen                   (MWI 13a, Matr.-Nr. 5751)
    Norbert Kleinekarhoff     (MWI 13o, Matr.-Nr. 6045)

    Projektbetreuer ist Prof. Dr. Bernd Schichold
</address>
