@model BoardCockpit.ViewModels.DashboardData
@{
    ViewBag.Title = "AjaxLoadedChart";
}

<h2>AjaxLoadedChart</h2>

@*@using (Html.BeginForm("Index", "Home"))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("Formulas")
        </div>
    </div>
    <p>
        <input type="submit" value="Submit" />
    </p>
}*@

@(ViewBag.Graph)

<script type="text/javascript">
    var categories;
    var chartdata;
    var chartData2 = [];
    var toYear = 2010;
    var fromYear = 2008;
    allVisits = [];

    
    //$.getJSON("GetPeriod", null, function (data) {
    //    arr = JSON.parse(data);
    //    alert(arr[0])
    //});
    $.ajax({
        type: "POST",
        url: "/Dashboard/SetPeriod",
        data: { _fromYear: fromYear, _toYear: toYear },
        dataType: 'html',
        success: function (html) {
            // never gets hit if EmptyResult();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            // never gets hit until page navigation, which aborts this call
        }
    });

    $.getJSON("GetPeriod", { fromYear: "2008", toYear: "2010" }, function (data) {
        //var items = [];
        //$.each(data, function (key, val) {
        //    items.push("<li id='" + key + "'>" + val + "</li>");
        //});

        //$("<ul/>", {
        //    "class": "my-new-list",
        //    html: items.join("")
        //}).appendTo("body");
        categories = data;
        chart.xAxis[0].setCategories(data);
        //alert(categories[0]);
    });

    //$.getJSON("GetCompanies", function (data2) {

    //$.each(data2, function (key2, val2 ) {
    @for(int i = 0; i < Model.Companies.Count(); i ++)
    {
        @:$.getJSON("GetAjaxLoadedChartData", { companyID: @Model.Companies.ElementAt(i).CompanyID, formulaID: "2", fromYear: "2008", toYear: "2010" },function (data) {
            @:$.each(data, function (key, val) {
                @:var point = [];
                @:point.push(val.Year);
                @:point.push(val.Value);
                @:chartData2.push(point);
            @:});
            @:if (chartData2.length > 0) {
            @:  chart.addSeries({ name: '@Model.Companies.ElementAt(i).Name', data: chartData2 });
            @:}
            @:chartData2 = [];
        @:});
    }    
</script>

