
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row no-tablet no-phone">
    <div class="span3">
        <div class="tile double text-center bg-lightBlue">
            <span class="name text-bold fg-white">Kennzahl 1</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-lightGreen">
            <span class="name text-bold fg-white">Kennzahl 2</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-orange">
            <span class="name text-bold fg-white">Kennzahl 3</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-lightRed">
            <span class="name text-bold fg-white">Kennzahl 4</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row no-large ">
    <div class="row">
        <div class="span12">
            <div class="span6">
                <div class="tile double text-center bg-lightBlue">
                    <span class="name text-bold fg-white">Kennzahl 1</span>
                    <div class="brand bg-dark opacity">
                        <span class="text fg-white">
                            <strong>Kurzerklärung der Kennzahl</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="tile double text-center bg-lightGreen">
                    <span class="name text-bold fg-white">Kennzahl 2</span>
                    <div class="brand bg-dark opacity">
                        <span class="text fg-white">
                            <strong>Kurzerklärung der Kennzahl</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="span6">
                <div class="tile double text-center bg-orange">
                    <span class="name text-bold fg-white">Kennzahl 3</span>
                    <div class="brand bg-dark opacity">
                        <span class="text fg-white">
                            <strong>Kurzerklärung der Kennzahl</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="tile double text-center bg-lightRed">
                    <span class="name text-bold fg-white">Kennzahl 4</span>
                    <div class="brand bg-dark opacity">
                        <span class="text fg-white">
                            <strong>Kurzerklärung der Kennzahl</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="no-tablet no-phone">
    <div class="row">
        <div class="span12">
            <div class="span6">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Grafik 1
                    </div>
                    <div class="panel-content">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Grafik 1
                    </div>
                    <div class="panel-content">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 1
                </div>
                <div class="panel-content">
                    @(ViewBag.Chart)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 1
                </div>
                <div class="panel-content">
                    @(ViewBag.Chart)
                </div>
            </div>
        </div>
    </div>
</div>

