@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{    
    ViewBag.Title = "Upload";
    var ui = "jquery".Equals(Request.Params["ui"]) ? UploadUI.JQueryUI : UploadUI.Bootstrap;
    var toggleUi = ui == UploadUI.Bootstrap ? "jquery" : "bootstrap";
}

<h2>Upload</h2>

<!-- Blueimp Jquery File Upload-->

@*<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="~/Scripts/mvcfileupload/blueimp/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="~/Scripts/mvcfileupload/blueimp/canvas-to-blob.min.js"></script>

<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload.js"></script>
<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-image.js"></script>
<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-validate.js"></script>
<script type="text/javascript" src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-ui.js"></script>

<!-- Blueimp styles / see blueimp docs for styling requirements for jquery ui -->
<link rel="stylesheet" href="~/Content/mvcfileupload/blueimp/jquery.fileupload.css">
<link rel="stylesheet" href="~/Content/mvcfileupload/blueimp/jquery.fileupload-ui.css">*@



<div class="well">
    <legend>Upload Dialog with return url on closing</legend>
    <p class="help-block">jpg/png size max 5 MB</p>
    @(
         Html.MvcFileUpload()
                    .UploadAt(Url.Action("UploadFile"))
                    .UIStyle(ui)            
                    .WithFileTypes(@"/(\.|\/)(xbrl)$/i")
                    .WithMaxFileSize(5000000)
                    .AddFormField("entityId", "13")
                    .RenderInline("_MvcFileupload")
                //.RenderPopup("Upload Button Label", "#dlgFileUpload", new { @class = "btn btn-large btn-primary" })
    )
</div>



