<nav class="sidebar light">
    <ul>
        <li class="title">Einrichtung</li>
        <li class="active">
            <a href="#">
                <i class="icon-home"></i>
                <span class="no-phone">Allgemein</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Taxonomies")">
                <i class="icon-newspaper"></i>
                <span class="no-phone">Taxonomie</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Imports")">
                <i class="icon-database"></i>
                <span class="no-phone">Imports</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Companies")">
                <i class="icon-briefcase-2"></i>
                <span class="no-phone">Companies</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-user"></i>
                <span class="no-phone">Benutzerverwaltung</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-accessibility"></i>
                <span class="no-phone">Rollenverwaltung</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-pencil"></i>
                <span class="no-phone">Kennzahlendefinition</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-bars"></i>
                <span class="no-phone">Visuelle Darstellung</span>
            </a>
        </li>
    </ul>
</nav>